# Flutter/Dart/Pub specific
.dart_tool/
.packages
.pub-deps
.pub/
build/

# IDE specific (Android Studio, VS Code, IntelliJ)
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Android specific
**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/.navigation/
**/android/captures/
**/android/compiler.xml
**/android/build.xml

# iOS/macOS specific (if applicable)
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcworkspace/
.DS_Store
